<section class="main clearfix">
    <section class="top" style="background: url('<%- item.cover_detail || theme.default_cover_detail %>');">
        <div class="wrapper content_header clearfix">
            <h1 class="title"><%- item.title %></h1>
        </div>
    </section>
    <section class="wrapper">
        <div class="content">
            <%- item.content %>
            <div>
                <%- partial("_partial/comments.ejs") %>
            </div>
        </div>
    </section>
</section>