<div class="tags">
<% item.categories.forEach(function(cate){ -%>
    <a href="<%- url_for(cate.path) %>"><%- cate.name %></a>
<% }); -%>
<% item.tags.forEach(function(tag){ -%>
    <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
<% }); -%>
</div>
